/* GENERAL TAGS */

* {
margin:0;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

p {
font-size: 16pt;
background: whitesmoke;
margin: 5px 5px 5px 5px;
}

body {
    width: 100%; height: 100%;
    margin: 0px; 
    padding: 0px;
    overflow-x: hidden; 
}
h1 {font-size: 50pt;}
h3 {font-size: 20pt;}

ul {padding: 0;}
ul LI { list-style-type: none; }

p {
    font-size: 1.5vw;
}


/* END GENERAL TAGS */



/* EVERYTHING HEADER RELATED GOES UNDER HERE */

input[type="button"][onClick$="support.html\'"] {
color: black;
background-color: whitesmoke;
border-color: white;
}


input[type="button"]{
padding: 1.25% 2.5%;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 0px;
background-color: Transparent;
border-color: white;
border-style: solid;
border-width: 2px;
transition-duration: 0.4s;
cursor: pointer;
padding: 1.25% 2.5%;
margin-top: 2%;
padding: 1.25% 2.5%;

}


input[type="button"], input[type="submit"] {
min-width: 10px;
font-size: 17px;
color: #ffffff;
margin-right: 0px;
text-align: center;
display: inline;
font-size: 10px;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 400;
font-style: normal;
text-decoration: none;
font-weight: bold;
}





header {
   background-color: #404040;
}


header DIV:nth-child(2) {
padding-bottom: 2%;


}


input[type="image"][src^="Images/Logos/WhiteReedLogo"]{
	width: 6%;
    height: 8%;
    margin-left: 1%;
    float: left;
    margin-top: 1%;
    margin-right: 2%;
}


/* END HEADER */


/* BODY AREA */


.container {
   height: auto;
   overflow: hidden;
}

.right {
    width: 50%;
    float: right;
   
}

.left {
    float: none; /* not needed, just for clarification */
  
    /* the next props are meant to keep this block independent from the other floated one */
    width: auto;
    overflow: hidden;

}


.container P {
	    padding-top: 16.5%;
    padding-bottom: 16.5%;
    margin:0;
}

.container P:nth-child(1){
	    padding-top: 16.5%;
    padding-bottom: 17.2%;
    margin:0;
}



.container1 {

	padding:0;
	background-color: whitesmoke;
}

.left1 IMG {
	float: none;
	margin-left: 15%;
	margin-bottom: 15%;
	margin-top: 15%;
}




.right1 {

	width: 80%;
	float: right;
}

.left1 {

	width: 20%;
	float: none; /* not needed, just for clarification */
  
    /* the next props are meant to keep this block independent from the other floated one */
    width: auto;
    overflow: hidden;
}
.right1 P{
padding-top: 7%;
padding-bottom: 7%;
margin:0;
}



/* END BODY AREA */


/* FOOTER */

footer {
background: #404040
}



footer {

    left: 0;
    height: 40%;
    width: 100%;
    float: left;



}


footer DIV:nth-child(1){

width: 20%;

}
footer IMG {
color: white;
    text-decoration: none;
    width: 15%;
    margin-left: 3%;
    margin-top: 1.5%;
    opacity: 0.7;
    padding: 4%;
    float: left;
}



footer IMG:hover {
cursor: pointer;
opacity: 1;
}



footer DIV:nth-child(2) DIV {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 20px;
text-transform: uppercase;
letter-spacing: 2px;
text-decoration: none;
font-weight: bold;
color: white;
opacity: 0.7;
margin: 0;

 float: left;
    padding-left: 8%;
    margin-top: 1.5%;
    
}

footer DIV:nth-child(2) {
 

}


footer DIV:nth-child(3) UL:nth-child(2) LI {
padding-left: 25%;
width: 100%;

}




footer UL {
list-style: none;
    float: left;
    margin-left: 5.2%;
    margin-bottom: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    letter-spacing: 2px;
    margin-top: 0;
    text-decoration: none;
    opacity: 0.7;
    cursor: pointer;
    margin-top: 1%;
width: 20%;
  

}



footer DIV:nth-child(3) UL:nth-child(2){
	float: left;
    width: 12%;
   margin-left: 20.9%;
    padding-left: 0%;
  
}



/* END FOOTER */

/* GENERALS */

/* END GENERALS */


 /* CONTACT PAGE */
.contact-page-right-menu {
    width: 13%;
    float: left;
    text-align: left;
    background: whitesmoke;
    border: 2px solid black;
    font-size: 20pt;
    margin: 1%;
}
.contact-page-right-menu UL { padding: 0; }
.contact-page-right-menu UL LI{
    opacity: 0.7;
    list-style-type: none;
    box-shadow: 1px 1px 1px 1px gray;
    transition: box-shadow 0.25s opacity 0.25s;
    cursor: pointer;
}
.contact-page-right-menu UL LI:hover{
    opacity: 1;
    box-shadow: 5px 5px 5px 5px gray;
}

.contact-page-menu-items {
    width: 85%;
    margin-left: 15%;
}

.contact-page-menu-items > DIV {
}

.contact-page-menu-items DIV DIV IMG{ float: left; padding: 3px;}
.contact-page-menu-items DIV DIV { 
    width: 75%;
    margin-top: 1%;
    margin-left: 4%;
    border-width: 3px;
    padding: 6px;
    background: whitesmoke;
    font-size: 16pt;
    text-align: left;
    float: left;
}

textarea {
    float: left;
    width: 100%;
    height: 10%;
    border: 3px solid black;
    padding: 5px;
    font-size: 23pt;
    transition: height 0.5s;
}
textarea:focus {
    height: 30%;
}

 /* END CONTACT PAGE */

/* RECRUIT PAGE */
.no_background_buttons {
  position: absolute;
  padding: 3px;
}
body > DIV:nth-child(2) IMG{
  width: 100%;
  height: 600px;
}

body > DIV:nth-child(2) H1{
  font-size: 50pt;
  color: white;
  position: absolute;
  top: 42%;
  left: 59%;
}

.perksBlock {
  background: whitesmoke;
  font-size: 20pt;
  letter-spacing: 2px;
}

.perksBlock > DIV {
    background: white;
    border-radius: 3px;
    width: 14%;
    text-align: center;
    margin: 11px 11px 11px 11px;
    font-size: 15pt;
    letter-spacing: 1px;
    box-shadow: 0 0 5px 1px #969696;
    transition: box-shadow 0.3s, width 0.5s;
    float: left;k
}
.perksBlock > DIV:hover {
  box-shadow: 5px 5px 5px 5px #969696;
  width: calc(14%+15px);
}
.perksBlock > DIV IMG {
  opacity: 0.8;
  width: 60%;
}

.job_description > UL LI {
    background: red;
}

/* END RECRUIT PAGE */


/* MEDIA QUERIE OR HOWEVER YOU SPELL THAT */

@media (min-width: 901px){

}

}

@media (max-width: 900px){

}

}