* {
margin:0;

}

a {
    color: white;
    text-decoration: none;
}




/* EVERYTHING HEADER RELATED GOES UNDER HERE */

input[type="button"]{
padding: 1.25% 2.5%;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 0px;
background-color: Transparent;
border-color: white;
border-style: solid;
border-width: 2px;
transition-duration: 0.4s;
cursor: pointer;
padding: 1.25% 2.5%;
margin-top: 2%;
padding: 1.25% 2.5%;

}


input[type="button"], input[type="submit"] {
min-width: 10px;
font-size: 17px;
color: #ffffff;
margin-right: 0px;
text-align: center;
display: inline;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 10px;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 400;
font-style: normal;
text-decoration: none;
font-weight: bold;
}


footer {
background: #404040
}


header {
   background-color: #404040;
}


header DIV:nth-child(2) {
padding-bottom: 2%;


}


input[type="image"][src^="Images/Logos/WhiteReedLogo"]{
	width: 6%;
    height: 8%;
    margin-left: 10%;
    float: left;
    margin-top: 1%;
    margin-right: 5%;
}


/* EVERYTHING HEADER RELATED GOES ^^^^^^ */

/* EVERYTHING FOOTER RELATED GOES UNDER HERE */
footer {
position: absolute;
    left: 0;
    height: 40%;
    width: 100%;
    float: left;



}
footer IMG {
 color: white;
    text-decoration: none;
    width: 3%;
    margin-left: 3%;
    margin-top: 1.5%;
    opacity: 0.7;
}



footer IMG:hover {
cursor: pointer;
opacity: 1;
}



footer DIV:nth-child(2) DIV {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 20px;
text-transform: uppercase;
letter-spacing: 2px;
float: left;
padding-left: 20%;
text-decoration: none;
font-weight: bold;
color: white;
opacity: 0.7;
margin-top: 2%;
margin:0%;
padding-top: 2%;
    
}

footer DIV:nth-child(2) {
   margin-top: -5%;
       overflow: overlay;
    margin-left: 30%;

}


footer UL {
list-style: none;
    float: left;
    margin-left: 13%;
    margin-bottom: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    letter-spacing: 2px;
    margin-top: 0;
    text-decoration: none;
    opacity: 0.7;
    cursor: pointer;
    margin-top: 1%;
width: 20%;
    margin-left: 41.2%;

}



footer DIV:nth-child(3) UL:nth-child(2){
	float: left;
    width: 12%;
    margin-left: 0%;
    padding-left: 21%;
  
}



/* END OF FOOTER */





 


/* MEDIA QUERIE OR HOWEVER YOU SPELL THAT */

@media (min-width: 901px){

}

}

@media (max-width: 900px){

}

}