
.listelement {

    top: 5%;
    padding: 0;
    margin-top: 5.5%;

}
.listelement LI {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
text-decoration: none;
font-size: 20px;
font-weight: bold;
padding: 8.5px;

margin-top: 2%;
    margin-left: 55%;
}



.temp:hover {

  width: 100%;
  transition-duration: 0.9s;
}


.temp {

  width: 33%;
  transition-duration: 0.9s;
}


.temp2{
display: none;


}

.temp2:hover {

  display: block;
}



/* BACKGROUND TAGS */

.bround1 {
 background: url(Images/doc.jpg)no-repeat center center fixed; 

 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

margin-left: auto;
margin-right: auto;


}


.bround2 {
background: url(Images/pw_maze_white.png)center center fixed; 


margin-left: auto;
margin-right: auto;

}

/* MENU TAGS */
button.accordion {
   color: whitesmoke;
    background-color: #404040;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #737373;
}

div.panel {
    padding: 0 18px;
    background-color:  #f2f2f2;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}




/* MENU TAGs */



/* GENERAL TAGS */

* {
margin:0;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

p {
/*font-size: 16pt;
background: whitesmoke;
margin: 5px 5px 5px 5px;*/
}

body {
    width: 100%; height: 100%;
    margin: 0px; 
    padding: 0px;
    overflow-x: hidden; 
}
/*h1 {font-size: 50pt;}*/
h3 {font-size: 20pt;}

ul {padding: 2%;}
ul LI { list-style-type: none; }

p {
    font-size: 1.5vw;
}


h6 {

font-size: 17px;
color: white;
margin-right: 0px;
text-align: center;
display: inline;
font-size: 15px;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 400;
font-style: normal;
text-decoration: none;
font-weight: bold;
}
h4 {


font-size: 17px;
color: black;
margin-right: 0px;
text-align: center;
display: inline;
font-size: 15px;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 400;
font-style: normal;
text-decoration: none;
font-weight: bold;


}



/* END GENERAL TAGS */



/* EVERYTHING HEADER RELATED GOES UNDER HERE */

input[type="button"][onClick$="support.html\'"] {
color: black;
background-color: whitesmoke;
border-color: white;
}


input[type="button"]{
padding: 1.25% 2.5%;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 0px;
background-color: Transparent;
border-color: white;
border-style: solid;
border-width: 2px;
transition-duration: 0.4s;
cursor: pointer;
padding: 1.25% 2.5%;
margin-top: 2%;
padding: 1.25% 2.5%;

}


input[type="button"], input[type="submit"] {
min-width: 10px;
font-size: 17px;
color: #ffffff;
margin-right: 0px;
text-align: center;
display: inline;
font-size: 10px;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 400;
font-style: normal;
text-decoration: none;
font-weight: bold;
}





header {
   background-color: #404040;
}


header DIV:nth-child(2) {
padding-bottom: 2%;


}


input[type="image"][src^="Images/Logos/WhiteReedLogo"]{
	width: 6%;
   
    margin-left: 1%;
    float: left;
    margin-top: 1%;
    margin-right: 2%;
}


/* END HEADER */


/* BODY AREA */

.infotext DIV{
width: 33%;
float: left;


}

.infotext IMG {
  
}


.IMGS {
width: 15%;

}



.container {
   height: auto;
   overflow: hidden;
       margin-bottom: -0.2%;

   
}


.right P{
    margin:0;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 30px;
color: black;
   
}

.left P{
    margin:0;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 30px;
color: black;
   
}

.right {
    width: 50%;
    float: right;
  
    margin-top: 0.4%;
   
}

.left {
    float: none; /* not needed, just for clarification */
  
    /* the next props are meant to keep this block independent from the other floated one */
    width: auto;
    overflow: hidden;
    margin-top: 0.35%;

}


.container P {
	    padding-top: 31%;
    padding-bottom: 32%;
    margin:0;
    padding-left: 25%;
    background-color: #f2f2f2;
    margin-top: -1%;
}

.container P:nth-child(1){
	        padding-top: 31%;
    padding-bottom: 31%;
    margin: 0;
    padding-left: 25%;
    background-color: #f2f2f2;
    
}



.container1 {

	padding:0;
	background-color: whitesmoke;
}

.left1 IMG {
	float: none;
	margin-left: 15%;
	margin-bottom: 15%;
	margin-top: 15%;
}




.right1 {

	width: 80%;
	float: right;
}

.left1 {

	width: 20%;
	float: none; /* not needed, just for clarification */
  
    /* the next props are meant to keep this block independent from the other floated one */
    width: auto;
    overflow: hidden;
}
.right1 P{
padding-top: 7%;
padding-bottom: 7%;
margin:0;
}

/* ------------------------------------------------ */
.container2 {

	padding:0;
	
}






.right2 {

	width: 90%;
	float: right;
}

.left2 {

	width: 10%;
	float: none; /* not needed, just for clarification */
  
    /* the next props are meant to keep this block independent from the other floated one */
    width: auto;
    overflow: hidden;
}




/* END BODY AREA */


/* FOOTER */

footer {
background: #404040
}

footer UL {
list-style: none;

}

footer {

    left: 0;
    height: 40%;
    width: 100%;
    float: left;



}


footer DIV:nth-child(1){

width: 20%;

}
footer IMG {
color: white;
    text-decoration: none;
    width: 15%;
    margin-left: 3%;
    margin-top: 1.5%;
    opacity: 0.7;
    padding: 4%;
    float: left;
}



footer IMG:hover {
cursor: pointer;
opacity: 1;
}



footer DIV:nth-child(2) DIV {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 20px;
text-transform: uppercase;
letter-spacing: 2px;
text-decoration: none;
font-weight: bold;
color: white;
opacity: 0.7;
margin: 0;

 float: left;
    padding-left: 8%;
    margin-top: 1.5%;
    
}

footer DIV:nth-child(2) {
 

}



footer DIV:nth-child(3) UL:nth-child(2) LI {
padding-left: 25%;
width: 100%;

}




footer UL {
list-style: none;
    float: left;
    margin-left: 5.2%;
    margin-bottom: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    letter-spacing: 2px;
    margin-top: 0;
    text-decoration: none;
    opacity: 0.7;
    cursor: pointer;
    margin-top: 1%;
width: 20%;
  

}



footer DIV:nth-child(3) UL:nth-child(2){
	float: left;
    width: 12%;
   margin-left: 20.9%;
    padding-left: 0%;
  
}



/* END FOOTER */

/* GENERALS */

/* END GENERALS */


 /* CONTACT PAGE */
.contact-page-right-menu { background: whitesmoke;
/*    float: left;
    text-align: left;
    background: whitesmoke;
    
    padding:1%;
    background: rgba(255, 255, 255, 0.5);

    padding-top: 20%;
    padding-bottom: 20%;*/
}
.contact-page-right-menu UL LI{
    margin: 30px 0px 12px -19px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 40px;
    transition: box-shadow 0.25s opacity 0.25s;
    cursor: pointer;
    width: 100%;
    line-height: 50px;
}
.contact-page-right-menu UL LI:hover{
    opacity: 0.5;
   
}

.contact-page-menu-items {
    width: 85%;
    margin-left: 15%;
}

.contact-page-menu-items > DIV DIV {
  position: relative;
}

.contact-page-menu-items DIV DIV IMG{ float: left; padding: 3px; }
.contact-page-menu-items DIV DIV { 
    width: 90%;
    margin-top: 1%;
    margin-left: 4%;
    border-width: 3px;
    padding: 6px;
    background: whitesmoke;
    font-size: 16pt;
    text-align: left;
    float: left;
}

textarea {
    float: left;
    border: 3px solid black;
    padding: 5px;
    font-size: 23pt;
    transition: width 0.8s height 0.8s;
}
textarea:focus {
    width: 553px;
    height: 250px;
}

 /* END CONTACT PAGE */

/* RECRUIT PAGE */
.no_background_buttons {
  position: absolute;
  padding: 3px;
}
/*body > DIV:nth-child(2) IMG{
  width: 100%;
  height: 15%;
  height: 600px;

}

body > DIV:nth-child(2) H1{
  font-size: 50pt;
  color: white;
  position: absolute;
  top: 42%;
  left: 59%;
}*/

.perksBlock {
  display: inline-block;
}

.perksBlock > div > li {
    background: white;
    border-radius: 3px;
    width: 30%;
    text-align: center;
    margin: 11px 11px 11px 11px;
    font-size: 15px;
    box-shadow: 0 0 5px 1px #969696;
    transition: box-shadow 0.3s, width 0.5s;
    float: left;
}
.perksBlock > div > li:hover {
  box-shadow: 5px 5px 5px 5px #969696;
  width: calc(14%+15px);
}
.perksBlock > div > li > img {
  opacity: 0.8;
  width: 60%;
}

.job_description {
  width: 59%;
  margin-left: 21%;
}
.job_description > DIV {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 100%;
}

.job_description > DIV H3 {
    opacity: 0.7;
    list-style-type: none;
    box-shadow: 1px 1px 1px 1px gray;
    transition: box-shadow 0.25s opacity 0.25s;
    cursor: pointer;
  }
.job_description > DIV IMG {width: 200px; float: left;}    
.job_description > DIV DIV {
    position: absolute;
    top: 99px;
    left: 210px;
  }

/* END RECRUIT PAGE */


/* TABS FUNCTIONALITY */

.w3-red,.w3-hover-red:hover{
  color:#404040!important;
  background-color:white!important;
}

.w3-bar .w3-bar-item{
  
  float:left;
  width:33%;
  border:none;
  outline:none;
  display:block;
  padding:0;
  height: auto;
 
  transition: box-shadow 0.3s;
  
  }

.w3-container, .w3-panel {
    padding: 0.01em 16px;
}
/*
.w3-black, .w3-hover-black:hover {
    color: white!important;
    background-color: #000!important;
}
*/

.w3-bar,.w3-black {
      margin-right: -2%;
}

.w3-bar .w3-button {
    white-space: normal;
}

.w3-button:hover {
    opacity: 0.7;
    box-shadow: 0px 0px 2px 2px;

}
body > div.w3-bar.w3-black > button:nth-child(n) > img {
  width: 100%;


}


/* END TABS FUNCTIONALITY */

/* NEWS PAGE */
.scalable_columns {
    display: inline-block;
    width: 100%;
    background: black;
}
.scalable_columns > DIV{
  width: 30%;
  height: 450px;
  margin: 10px 11px 7px 12px;
  border-radius: 2px;
  font-size: 1px;
  float: left;
  text-align: center;
  background: whitesmoke;
  transition: width 0.5s;
}

.scalable_columns > DIV H1 { font-size: 40px; }
.scalable_columns > DIV P {
  width: 80%;
  margin-left: 11%;
}
.scalable_columns > DIV IMG {
  width: 50%;
}
/* END NEWS PAGE */


/* HOMEPAGE */

.four_square {
  background: white;
}

.four_square > DIV IMG{ background: white; cursor: pointer;}
body > div.row > div:nth-child(n) > div:nth-child(n) { 
  position: relative;
  padding: 5px;
} 

body > div.row > div:nth-child(n) > div:nth-child(n) > h4 {
    position: absolute;
    top: 43%;
    left: 24%;
    font-size: 47px;
    color: white;
}

body > div.row > div:nth-child(n) > div:nth-child(n) > p {
  display: none;
}

.four_sqaure  DIV { 
    border: 5px solid black;
    border-radius: 5px;
    background: black;
    width: 30%;
}

.four_sqaure > DIV H4 {
    font-size: 34px;
    position: absolute;
    color: white;
    top: 70%;
    left: 15%;
}
body > H1 {
    position: absolute;
    color: white;
    top: 58%;
    left: 3%
}

#four_square_top > div > p,
#four_square_bottom > div > p
{
    position: absolute;
    display: block;
    top: 67%;
    left: 15%;
    color: white;
}
/* END HOMEPAGE */

/* MEDIA QUERIE OR HOWEVER YOU SPELL THAT */

@media (min-width: 901px){

}

}

@media (max-width: 900px){

}

}